body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main  {
    margin: 6em 0;
}

main .experience {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    margin-bottom: 7em;
}
main .experience img {
    width: 550px;
    height: 500px;
}
main .experience div {
    width: 550px;
    padding: 15px;
}

main .experience button {
    padding: 15px;
    background-color: rgb(189, 141, 234);
    border: none;
    border-radius: 5px;
    width: 200px;
}
main .experience button:hover {
    background-color: antiquewhite;
    transition: 2s ease;
}
main .experience button a {
    color: black;
    text-decoration: none;
    font-size: large;
}


@media screen and (max-width:700px) {
    
    main .experience {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}


.container-img .about {
    text-align: center;
    color: white;
    position: relative;
    top: 300px;
    font-size: x-large;
}

main .quality {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(232, 228, 228);
    margin: 20px 0;
    padding: 90px 0;
}

main .quality .top, .best, .low {
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main .quality i {
    color: rgb(189, 141, 234);
    font-size: 50px;
    padding-top: 20px;
}

@media screen and (max-width:900px) {
    
    .container-img .about {
        display: none;
    }
}


main .award {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
    padding: 105px 0;
    background-image: url(Images/image6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    
}
main .award div {
    text-align: center;
    font-size: larger;
    
}
main .award div i {
    font-size: 2em;
    background-color: rgb(189, 141, 234);
    
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 6px 9px grey;
}

main .team {
    margin: 120px 0;
}
main .team .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
    margin: 50px 0;
}

main .team .card h2 {
    color: black;
}
main .team .card {
    border: 1px solid rgb(215, 212, 212);
    text-align: center;
    
}
main .team .card:hover {
    box-shadow: 4px 6px 9px gray;
    transition: 1s ease;
}

main .team img {
    width: 250px;
    height: 300px;  
}
main .team h1 {
    text-align: center;
    color: rgb(189, 141, 234);
}
main .team .icon {
    background-color: rgb(189, 141, 234);
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
main .team .icon i {
    font-size: large;
    cursor: pointer;
}




@media screen and (max-width:900px) {
    main .experience {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .experience img {
        width: 750px;
        height: 500px;
    }
}

/* For mobile devices*/

@media screen and (max-width: 599px) {
    main .experience {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main .experience img {
        width: 380px;
        height: 200px;

    }
}